#carbonads {
    display: block;
    overflow: hidden;
    padding: 2em;
    border: solid 1px #eeeeee;
    border-radius: 4px;
    background-color: #fafafa;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

#carbonads a {
    text-decoration: none;
}

#carbonads a:hover {
    color: inherit;
}

#carbonads span {
    display: block;
    overflow: hidden;
}

.carbon-img {
    display: block;
    margin: 0 auto 1em;
}

.carbon-text {
    display: block;
    margin-bottom: 1em;
    color: #28285c;
}

.carbon-poweredby {
    display: block;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    line-height: 1;
}
