.documentation a {
    cursor: pointer;
}

.documentation {
    background: #fff;
    overflow: hidden;
}

.documentation .sidebar {
    padding: 6em 2em 0;
    position: absolute;
    width: 300px;
    float: left;
}

.documentation .sidebar ul {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.documentation .sidebar ul li a {
    padding: 20px 0;
}

.documentation .mobile-sidebar {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 9.2em;
    overflow: scroll;
    border-bottom: 1px solid #eee;
    display: none;
}

.documentation .mobile-sidebar ul {
    white-space: nowrap;
}

.documentation .mobile-sidebar ul li {
    display: inline-block;
    padding: 1em 4em;
    line-height: 1em;
}

.documentation .content {
    background: #f8f8f8;
    border-left: 1px solid #eee;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
    margin-left: 300px;
    min-height: 800px;
    display: block;
    overflow: hidden;
    width: calc(100% - 300px);
    max-width: 1200px;
    padding: 6em 75px 50px 3em;
}

.documentation .content p:first-child {
    margin-top: 0;
}

.documentation h1, h2, h3, h4, h5, h6 {
    text-align: left;
    line-height: 1.25em;
}

.documentation h1 {
    color: #333;
    font-weight: 600;
    padding: 0.25em 0;
}

.documentation h2 {
    color: #444;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    padding: 0.25em 0;
}

.documentation h3 {
    color: #555;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1em;
    padding: 0.25em 0;
}

.documentation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.documentation ul li {
    cursor: pointer;
}

.documentation ul li a {
    color: #777;
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.documentation ul li.active > a {
    color: #24223C;
}

.documentation ul li:not(.active) a:hover {
    color: #444;
}

.documentation p {
    color: #222;
    line-height: 1.5em;
    /*text-align: justify;*/
    padding: 0.5em 0;
    margin: 0;
}

.documentation table {
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
    margin-bottom: 25px;
    margin-top: 0.5em;
}

.documentation table thead {
    background: #24223C;
    color: #fff;
}

.documentation table thead th {
    padding: 10px 0;
}

.documentation table td {
    padding: 25px;
}

.documentation table tr {
    border-bottom: 1px solid #eee;
}

.documentation table tr:last-child {
    border: 0;
}

.documentation table tr:nth-child(even) {
    background: #fbfbfb;
}

.documentation .highlight {
    overflow: auto;
}

@media (max-width: 800px) {
    .documentation .sidebar {
        display: none;
    }

    .documentation .mobile-sidebar {
        display: block;
    }

    .documentation .content {
        padding-top: 14em;
        padding-left: 3em;
        padding-right: 3em;
        width: 100%;
        margin-left: 0;
    }
}
