{
    presets: [
        [
            '@babel/preset-env',
            {
                modules: false
            }
        ],
        [
            '@babel/preset-stage-2',
            {
                decoratorsLegacy: true
            }
        ]
    ],
    plugins: ['@babel/plugin-transform-flow-strip-types']
}
