{
  "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false
        }
      ],
      "@babel/preset-stage-2"
  ],
  "plugins": ["@babel/plugin-transform-flow-strip-types"]
}
